body {
  background-color: #f7f7f7;
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #6357b1;
  transform: skew(-80deg);
  transform-origin: top;
  z-index: -1;
}

#app {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}